@{
    ViewBag.Title = "Response";
}

<div class="col-9 pl-4">
    <h3>@ViewBag.Operation Operation</h3>
    <p class="endpoint">@ViewBag.Method @ViewBag.RequestUrl</p>
    <h5>Payload</h5>
    <pre>@ViewBag.Payload</pre>
    <h5 style="font-weight:bold">Response</h5>
    <pre>@ViewBag.Response</pre>
</div>